@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

.main__section{
   position: relative;
   height: 100vh;
   background: rgba(0,0,0, 0.7);
    &__bg-video{
        position: absolute;
        height: 100%;
        width: 100%;
        top : 0;
        left: 0;
        padding: 0;
        z-index: -1;

        &__content{
          height:100%;
          width: 100vw;
          object-fit: cover;
        }
    }

    &__header{
        text-transform: uppercase;
        color: white;
        position: absolute;
        font-size: 2.5rem;
        font-weight: 10;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        &__inverted{
            opacity: 0;
        }
    }
}

.featured__section{
    height: 100%;
    margin: 2rem auto;
}

@media only screen and (max-width : 320px) {
    .featured__section{
        width: 100%;
    }
}

.wrapper{
    font-family: 'Montserrat', sans-serif;
}

header{
    position: absolute;
    height: 5rem;
    width: unset;
    left : 2rem;
    top: 1rem;
}

@media (min-width: 768px) {
  .main__section__header{
      font-size: 5rem;
  }
}

.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
}

.arrows path {
	stroke: #ffffff;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; 
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s;
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s;
}