@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import "../../sass/grid.scss";

$color-primary-light : rgb(10, 10, 10);
$color-primary-dark: rgb(0, 0, 0);

.header__section{
        &__bg{  
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 75vh;
            z-index: -2;
            box-shadow: 0 3rem 6rem rgba(black, .1);
        }
}

.horizontal__divider{
    width: 80%;
}

.blog__section{

        &__article{
            //border: 2px solid black;
            margin: -10% auto 10% auto;
            box-shadow: 0 3rem 6rem rgba(black, .1);
            background-color:white;
            height: 100%;
            z-index: 2;
            width: 70%;
            &__content{
                p{
                    padding-bottom: 2.5rem;
                }
                &__header{
                    margin: auto;
                    font-family: 'Gloria Hallelujah', cursive;
                    padding-top: 1.5rem;
                    font-size: 3rem;
                    text-align: center;
                }
                &__attributes{
                    width: 80%;
                    @include clearfix;
                    font-size: 1.2rem;
                    font-family: 'Gloria Hallelujah', cursive;
                    margin: auto;
                    &__author{
                        float: left;
                    }
                    &__timestamp{
                        float: right;
                    }
                }
                &__blog{
                  width: 80%;
                  line-height: 2.4rem;
                  margin:2rem auto 2rem auto;
                  img{
                    width: 100%;
                    height: auto;
                    margin: auto;
                  }
                }
            }
        }

}


@media only screen and (max-width : 37.5em) {
    .blog__section{
        &__article{
            width:90%;
            margin: -30% auto 10% auto;
            &__content{
                &__attributes{
                    &__author{
                        display: block;
                    }
                    &__timestamp{
                        display: block;
                        float: left;
                    }
                }
                &__header{
                    font-size: 2.5rem;
                }
                &__blog{
                  width: 90%;
                  line-height: 1.9rem;
                  margin:2rem auto 2rem auto;
                  img{
                      width: 100%;
                      margin: auto;
                      height: auto;
                  }
                }
            }
        }
    }
}

.wrapper{
    font-family: 'Montserrat', sans-serif;
}

// header{
//     position: absolute;
//     height: 5rem;
//     width: unset;
//     left : 2rem;
//     top: 1rem;
// }

.logo__header{
    color:white;
    font-size: 0.8rem;
    font-weight: 2px;
    letter-spacing: 0.6em;
    position: relative;
    z-index: 500;
    left: 4rem;
    text-transform: uppercase;
}

@media (min-width: 768px) {
  .logo__header{
      font-size: 1.2rem;
      top: -0.9rem;
      letter-spacing: 1rem;
  }
  .main__section__header{
      font-size: 5rem;
  }
}
