@import "../../sass/grid.scss";
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

.footer{
   background: linear-gradient(to top right, $color-grey-dark-3, rgba(0,0,0,0.8));
   padding: 3rem 0;
   font-size: 1.4rem;
   color: $color-grey-light-1;

  &__logo-box{
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
  }

  &__navigation{
    padding-top: 0.2rem;
    display: inline-block;


    &__list{
      list-style: none;
      margin-top: 2rem;
      &__item{
         display: inline-block;
        font-size: 1.2rem;
        font-family: 'Gloria Hallelujah', cursive;
        &:not(:last-child) {
            margin-right: 1.5rem;
         }

        &__link{
          font-size: 1rem;
          &:link,
          &:visited {
            color: $color-grey-light-1;
            background-color: $color-grey-dark-3;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
          }

          &:hover,
          &:active {
              color: $color-white;
              box-shadow: 0 1rem 2rem rgba($color-black, .4);
              transform: rotate(5deg) scale(1.1);
          }

         }

        }

      }

    }

    &__copyright {
      text-transform: uppercase;
      letter-spacing: 1rem;
      font-size: 1rem;
      font-weight: 0.4rem;
      //padding-top: 3rem;
      text-align: center;
      margin-top: 2.5rem;
      width: 60%;
      float: right;
    }

}

@media only screen and (max-width: 37.5em){
  .footer{
    &__copyright{
      width: 100%;
    }
    &__navigation{
      width: 100%;
      &__list{
        padding: 0;
        text-align: center;
      }
    }
  }
}