@import "../../sass/grid.scss";

.main-row{
  &__header{
    text-align: left;
    font-size: 3rem;
    margin: 2rem auto 0rem auto;
    width: 76%;
  }
  &__p{
    text-align: left;
    font-size: 2rem;
    margin: 0.5rem auto 1.5rem auto;
    width: 76%;
  }
}
@media only screen and (max-width: 37.5em){
  .recent{
    &__header{
      font-size: 2.5rem;
    }
  }
}
