@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

.post{
    &__content{
        height: 15rem;
        position: relative;
        color: white;
        &__inner{
            position: absolute;
            bottom: 1rem;
            height: fit-content;
            width: 100%;
            &__header{
                margin: 0;
                font-family: 'Gloria Hallelujah', cursive;
                text-align: left;
                font-size: 2rem;
                text-transform: uppercase;
                //margin-bottom:0.3rem;
            }

            &__text{
                font-size: 1.1rem;
                line-height: 1.8rem;
            }
            &__link{
                text-decoration: none;
                cursor: pointer;
            }
            &__timestamp{
                font-size: 1.1rem;
                //margin-top: -0.5rem;
                float:left;
                opacity: 1;
            }
        }

    }
    &__card{
        &:hover{
            transform: scale(1.05);
            transition: all .2s ease;
        }
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 1;
        padding: 1rem;
        width:70%;
        height: 75%;
        margin: 2rem auto;
        box-shadow: 0 3rem 6rem rgba(black, .1);
        background-color: white;
        border-radius: 3px;
        z-index: 1;
        font-size: 1.1rem;
      }
}

@media only screen and (max-width : 500px) {
  .post{
    &__outer{
        margin:0.8rem;
        padding: 0.2rem;
    }
    &__content__inner{
            &__timestamp{
                display: block;
                font-size: 1.1rem;
                //margin-top: -0.5rem;
                text-align: center;
                color:white;
                opacity: 1;
            }
        }
  }
  &__card{
      width: 80%;
  }
}


//9884623973